.categories {
  h2 {
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    li {
      transition: 0.4s;
      color: black;
      cursor: pointer;
      border-bottom: 1.5px solid transparent;
      &:hover {
        border-bottom: 1.5px solid #40bfff;

        color: #40bfff;
      }
    }
  }

  @media (max-width: 550px) {
    ul {
      gap: 20px;
    }
  }
  @media (max-width: 450px) {
    ul {
      gap: 10px;
      overflow-x: auto;
    }
  }
}
