.product__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 0;
}
.see__more {
  margin: 0 auto;
  border: none;
  background: none;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
  font-size: 18px;
  &:hover {
    color: #33a0ff;
    border-bottom: 2px solid #33a0ff;
  }
}
@media (max-width: 600px) {
  .product__cards {
    gap: 10px;
  }
}
