.not__found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px;
  gap: 50px;
  align-items: center;
  img {
    width: 90%;
  }
  button {
    padding: 10px;
    background: #33a0ff;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
}
